In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('learningSet.csv')

/var/folders/57/4_7_gvfx4rd62jd_bgj3100m0000gn/T/ipykernel_7385/3830976392.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [4]:
import numpy as np
categorical = data.select_dtypes(np.object)

/var/folders/57/4_7_gvfx4rd62jd_bgj3100m0000gn/T/ipykernel_7385/2141056307.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = data.select_dtypes(np.object)

In [5]:
nulls_df = pd.DataFrame(data.isna().sum()/len(data))
nulls_df.columns=['nulls_percentage']
nulls_df.value_counts()

nulls_percentage
0.000000            389
0.553955             13
0.001383              5
0.999906              2
0.845512              2
0.717080              2
0.730642              2
0.755618              2
0.774955              2
0.781233              2
0.792710              2
0.814090              2
0.824613              2
0.833595              2
0.871609              2
0.890360              2
0.900296              2
0.901469              2
0.906773              2
0.917327              2
0.917631              2
0.104526              2
0.923888              2
0.991867              2
0.997055              2
0.997464              2
0.589758              1
0.870184              1
0.686255              1
0.020438              1
0.022964              1
0.526139              1
0.036798              1
0.037280              1
0.093007              1
0.093521              1
0.109232              1
0.117857              1
0.197742              1
0.213432              1
0.222855              1
0.223096              1
0.248030              1
0.256572              1
0.268813              1
0.289796              1
0.343227              1
0.352052              1
0.369052              1
0.387509              1
0.421530              1
0.459303              1
0.468830              1
0.554584              1
dtype: int64

In [6]:
len(nulls_df)

481

In [7]:
drop_list = []
drop_list.append('OSOURCE')
drop_list.append('ZIP CODE')
drop_list

['OSOURCE', 'ZIP CODE']

In [8]:
drop_list = nulls_df[nulls_df['nulls_percentage']>.85].sort_values(by=['nulls_percentage'],ascending=False).index
drop_list

Index(['RDATE_5', 'RAMNT_5', 'RDATE_3', 'RAMNT_3', 'RDATE_4', 'RAMNT_4',
       'RDATE_6', 'RAMNT_6', 'RAMNT_15', 'RDATE_15', 'RDATE_23', 'RAMNT_23',
       'RDATE_20', 'RAMNT_20', 'RAMNT_7', 'RDATE_7', 'RDATE_17', 'RAMNT_17',
       'RDATE_21', 'RAMNT_21', 'RDATE_10', 'RAMNT_10', 'RDATE_13', 'RAMNT_13',
       'NUMCHLD'],
      dtype='object')

In [9]:
categorical = data.drop(columns=drop_list)

In [10]:
categorical['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [11]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [12]:
categorical['GENDER'] = categorical['GENDER'].replace(" ","OTHER")
categorical['GENDER'] = categorical['GENDER'].replace("U","OTHER")
categorical['GENDER'] = categorical['GENDER'].replace("J","OTHER")
categorical['GENDER'] = categorical['GENDER'].replace("C","OTHER")
categorical['GENDER'] = categorical['GENDER'].replace("A","OTHER")

In [13]:
categorical['GENDER'].value_counts()

F        51277
M        39094
OTHER     5041
Name: GENDER, dtype: int64