In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('learningSet.csv')

C:\Users\Dell\AppData\Local\Temp\ipykernel_1176\3673836359.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [3]:
data.shape

(95412, 481)

In [4]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [5]:
data['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [6]:
data['TARGET_D'].value_counts()

0.00     90569
10.00      941
15.00      591
20.00      577
5.00       503
         ...
18.25        1
10.70        1
2.50         1
16.87        1
44.21        1
Name: TARGET_D, Length: 71, dtype: int64

In [7]:
data['TARGET_D'].sum()

75668.7

In [8]:
pd.set_option('display.max_rows',None)
nulls_df = pd.DataFrame(data.isna().sum()/len(data))
nulls_df.columns=['nulls_percentage']

In [9]:
cols_to_drop = nulls_df[nulls_df['nulls_percentage']>.25].sort_values(
    by=['nulls_percentage'],ascending=False).index

In [10]:
x = [1,2,3,4,5]
x.remove(1)
x

[2, 3, 4, 5]

# 7.01 Activity 2

In this exercise, you will use `files_for_activities/learningSet.csv` file.

Take a look at all the items in `drop_columns_list` (done on the class). These are the columns that we want to drop from the dataframe. Now before removing all these columns, you discussed with your manager if there is any column that would still be important to keep in the analysis. Based on their subject matter expertise, you were told that the following columns are important: `wealth1` and `wealth2`. We will remove these variables from the above list: `RDATE3`, `RAMNT_3`. These are important but they have too many null values.

In [11]:
cols = ['WEALTH1','WEALTH2']
cols_to_drop = list(cols_to_drop)
for item in cols:
    cols_to_drop.remove(item)
len(cols_to_drop)

70

In [12]:
data = data.drop(columns=cols_to_drop)

In [13]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [14]:
data['MAILCODE'].value_counts()

     94013
B     1399
Name: MAILCODE, dtype: int64

In [15]:
data['MAILCODE'] = data['MAILCODE'].replace(" ","A")

In [16]:
data = data.replace(" ",np.nan)

In [17]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,A,NaN,3712,0,NaN,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,A,NaN,5202,0,NaN,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,A,NaN,0,0,NaN,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,A,NaN,2801,0,NaN,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,NaN,0,FL,33176,A,NaN,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

# 7.01 Activity 3

Keep using the same file.

1. Remove columns with null values more than a specified threshold.
2. Now just like the last time we will discuss it other subject matter experts and keep the following columns -> `wealth1`, `wealth2`, `VETERANS`, `SOLIH`.

In [18]:
nulls_df2 = pd.DataFrame(data.isna().sum()/len(data))
nulls_df2.columns=['nulls_percentage']
cols_to_drop2 = list(nulls_df2[nulls_df2['nulls_percentage']>.25].sort_values(by=['nulls_percentage'],ascending=False).index)
print(len(cols_to_drop2))

47

In [19]:
cols = ['WEALTH1', 'WEALTH2','VETERANS', 'SOLIH']
cols_to_drop2 = list(cols_to_drop2)
for item in cols:
    cols_to_drop2.remove(item)

data = data.drop(columns= cols_to_drop2)
print(data.shape)
data.head()

(95412, 368)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,DOB,NOEXCH,MDMAUD,DOMAIN,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,A,3712,0,XXXX,T2,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,A,5202,0,XXXX,S1,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,A,0,0,XXXX,R2,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,A,2801,0,XXXX,R2,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,NaN,0,FL,33176,A,2001,0,XXXX,S2,...,0.0,1,L,2,F,X,X,X,26.0,A

In [20]:
Y = data[['TARGET_B','TARGET_D']]
Y.head(1)

   TARGET_B  TARGET_D
0         0       0.0

In [21]:
numerical = data.select_dtypes(np.number)
numerical = numerical.drop(columns=Y.columns)

In [22]:
categorical = data.select_dtypes(np.object)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1176\1978493474.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = data.select_dtypes(np.object)

In [23]:
df = pd.DataFrame(categorical['STATE'].value_counts()).reset_index()
df.columns = ['state','count']
other_states = list(df[df['count']<2500]['state'])
print(other_states)

['TN', 'AZ', 'OR', 'MN', 'CO', 'SC', 'AL', 'KY', 'OK', 'LA', 'KS', 'IA', 'AR', 'MS', 'NV', 'NM', 'NE', 'UT', 'ID', 'MT', 'HI', 'SD', 'WY', 'AK', 'ND', 'AP', 'NY', 'VA', 'OH', 'PA', 'MD', 'NJ', 'MA', 'CT', 'AA', 'AE', 'ME', 'NH', 'VT', 'RI', 'VI', 'WV', 'GU', 'DE', 'DC', 'AS']

In [24]:
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x

categorical['STATE'] = list(map(clean_state,categorical['STATE']))

In [25]:
categorical['STATE'].value_counts()

other    30457
CA       17343
FL        8376
TX        7535
IL        6420
MI        5654
NC        4160
WA        3577
GA        3403
IN        2980
WI        2795
MO        2712
Name: STATE, dtype: int64

In [26]:
#LAB
#Check for null values in all the columns - we already treat null values

In [27]:
#Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
drop_list = []

In [28]:
categorical.columns

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'NOEXCH', 'MDMAUD', 'DOMAIN',
       'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'SOLIH', 'VETERANS',
       'RFA_2', 'RFA_3', 'RFA_4', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_11',
       'RFA_12', 'RFA_14', 'RFA_16', 'RFA_18', 'RFA_2R', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [29]:
#Identify columns that over 85% missing values
pd.set_option('display.max_rows',None)
cat_null = pd.DataFrame(categorical.isna().sum()/len(data))
cat_null.columns=['nulls_percentage']

In [30]:
cat_to_drop = cat_null[cat_null['nulls_percentage']>.85].sort_values(
    by=['nulls_percentage'],ascending=False).index

In [31]:
len(cat_to_drop)

2

In [32]:
cat_to_drop
#I won't drop because before we were said not to

Index(['SOLIH', 'VETERANS'], dtype='object')

In [33]:
categorical.columns

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'NOEXCH', 'MDMAUD', 'DOMAIN',
       'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'SOLIH', 'VETERANS',
       'RFA_2', 'RFA_3', 'RFA_4', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_11',
       'RFA_12', 'RFA_14', 'RFA_16', 'RFA_18', 'RFA_2R', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [34]:
# OSOURCE - symbol definitions not provided, too many categories 
# ZIP CODE - we are including state already
categorical = categorical.drop(['OSOURCE','ZIP'], axis=1)

In [35]:
#Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest
#Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [36]:
categorical['GENDER'] = categorical['GENDER'].replace(['U','J', 'C', 'A'], 'Other')
print(categorical['GENDER'].value_counts())

F        54234
M        39094
Other     2084
Name: GENDER, dtype: int64

categorical.to_csv('categorical.csv', index=False)

In [37]:
numerical.to_csv('numerical.csv', index=False)

In [39]:
Y.to_csv('targets.csv', index=False)

In [40]:
categorical.to_csv('categorical.csv', index=False)